/* ============================================================== 
    # Responsive CSS
=================================================================== */

@media  (max-width: 1439px) {
    .custom-container{
        margin-left: 140px;
    }
    .fact-info{
        width: 100%;
    }
    .service-item{
        width: 100%
    }
    .stack-item{
        width: 100%
    }
    .contact-form-box,
    .contact-detail-box{
        width: 100%
    }
}
@media  (min-width: 810px){
    .menu{
        display: block;
    }
}
@media  (min-width: 810px) and (max-width: 1439px) {
    .sidebar-area{
        width: 122px;
    }
    .sidebar-header{
        flex-direction: column;
    }
    .sidebar-header .time{
        font-size:16px;
        background: var(--innerBox-background);
        border: 0.75px solid rgba(252, 252, 252, 0.05);
        backdrop-filter: blur(15.001426696777344px);
        margin-top: 20px;
        width: 70px;
        text-align: center;
        padding-top: 18px;
        padding-bottom: 17px;
    }
    .sidebar-header .logo-box{
        display: block;
    }
    .sidebar-header .logo-box .logo{
        display: none;
    }
    .sidebar-area .about-me-box{
        display: none;
    }
    .menu .nav-item a span{
        display: none;
    }
    .menu .nav-item a{
        width: 52px;
    }
    .menu .nav .nav-item{
        align-self: center;
    }
    .sidebar-area .social-icons{
        display: none;
    }
}

@media (min-width:810px){
    .navbar{
        display: none;
    }
}

@media  (max-width: 809px){
    .sidebar-area{
        display: none;
    }
}